<html>
  <head>
    <title>Big Fat Awesome House Party | Cartoon Network</title>
    <script language="javascript" src="/toon/promos/200604_bfahp/tools/gamesite/js/flashobject.js"></script>
  </head>
  <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" background="/toon/promos/200604_bfahp/tools/gamesite/img_update/bkgd.jpg">
    <div align="center">
      <table width="960" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td colspan="3"><img src="/toon/promos/200604_bfahp/tools/gamesite/img/front.noad_03.gif" width="960" height="49" alt=""></td>
        </tr>
        <tr>
          <td><img src="/toon/promos/200604_bfahp/tools/gamesite/img/front.noad_05.gif" width="35" height="641" alt=""></td>
          <td bgcolor="#0d061e" width="885">
            <div id="logreg_flashcontent">This Flash movie requires a newer version of the Flash plug-in. Please upgrade your Flash plug-in by visiting <ahref="http://www.macromedia.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" target="_blank">www.macromedia.com</a></div>
            <script language="JavaScript" type="text/javascript">
            var logreg_fo = new FlashObject("/toonahp/registration.swf", "registration", "885", "641", "8,0,0,0", "#FFFF99");
            logreg_fo.addParam("allowScriptAccess", "always");
            logreg_fo.addParam("quality", "high");
            logreg_fo.addParam("menu", "false");
            logreg_fo.addVariable("CN_configLoc", "/toonahp/registration/tools/config.xml");
            logreg_fo.addVariable("CN_loginService", "/house/Login");
            logreg_fo.addVariable("CN_regService", "/house/Registration");
            logreg_fo.addVariable("CN_startPoint", '{{ startPoint }}');
            logreg_fo.addVariable("CN_useBuffer", '{{ useBuffer }}');
            logreg_fo.write("logreg_flashcontent");
            </script>
          </td>
          <td><img src="/toon/promos/200604_bfahp/tools/gamesite/img/front.noad_07.gif" width="40" height="641" alt=""></td>
        </tr>
        <tr>
          <td colspan="3"><img src="/toon/promos/200604_bfahp/tools/gamesite/img/front.noad_08.gif" width="960" height="35" alt=""></td>
        </tr>
      </table>
    </div>
  </body>
</html>